.post-title {
    font-weight: bold;
    font-size: 20px;
}

.post-text {
    margin-top: 10px;
}

.post-info, .comment-duration {
    color: #878A8C;
    font-size: 12px;
}

.post-content {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 4px;
}
