.post {
    border: 1px solid #cccccc;
    overflow: hidden;
    background-color: rgb(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 1px;
    font-size: small;
}

.post:hover{
    border: 0.25px solid #495f69;
}

.btnComments {
    opacity: 1;
    color: #878A8C;
    font-weight: bold ;
}

.btnComments:hover {
    opacity: 0.65;
    background-color:  #bbbebe;
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
}

.post-title, .posturl, .postname {
    opacity: 1;
    color: black;
    text-decoration: none;
    
}

.subreddit-text {
    font-weight: bold;
}

.post-content {
    background-color: #ffffff;
}