<div class="sidebar">
    <div class="sidebar-content">
        <div class="sidebar-background"></div>
        <div class="sidebar-title">
            <div class="sidebar-icon"></div>
            <div class="sidebar-title-text">
                <span class="sidebar-title-home">Home</span>
            </div>
            <div style="text-align: left; font-size: 1em; padding: 6px;">Your personal Reddit frontpage. Come here to check in with your favorite communities.</div>   
            <div style="text-align: center">
                <button class="btnCreatePost btn btn-primary btn-sm" (click)="goToCreatePost()">Create Post</button>
            </div>
            <div style="text-align: center">
                <button class="btnCreateSubreddit btn btn-light btn-sm" (click)="goToCreateSubreddit()">Create Subreddit</button>
            </div>
        </div> 
    </div>   
</div>
